{# <!-- Footer -->
    <section id="footer" role="contentinfo">
      <p>View my work..</p>
        <ul class="icons">
          <li><a href="https://github.com/harps116"><i class="fab fa-github-alt"></i></a></li>
          <li><a href="https://codepen.io/harps116/#"><i class="fab fa-codepen"></i></a></li>
          <li><a href="http://harps116.deviantart.com/"><i class="fab fa-deviantart"></i></a></li>
            {% if config.plugins.feed.enabled %}
            <li><a href="{{ feed_url }}.rss" class="fa-rss"><span class="label">RSS</span></a></li>
            {% endif %}

        </ul>
        <p class="copyright">&copy; {{ "now"|date("Y") }} {{ site.author.name }}. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>

</section> #}
